main {
  display: flex;
  margin: 0 auto;
  width: 25%;
  height: auto;
  max-height: 100%;
  background-color: black;
  flex-direction: column;
  border-radius: 1em;
}

.pin-code {
  display: flex;
  flex-flow: row nowrap;
  margin: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.pin-code input {
  width: 15%;
  height: 40px;
  border-radius: 10em;
  text-align: center;
}
.container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
  gap: 0.5%;
  height: 300px;
  align-items: center;
  justify-content: space-evenly;
}
.btn {
  width: 25%;
  height: 20%;
  background-color: black;
  border: 3px solid whitesmoke;
  border-radius: 10em;
  color: whitesmoke;
}
.btn:hover {
  background-color: whitesmoke;
  color: black;
}

.fix {
  position: absolute;
  top: 78%;
  left: 6%;
}
.left {
  left: 6%;
}
.right {
  left: 70%;
}
@media only screen and (max-width: 430px) {
  main {
    width: 100%;
  }
}
